<div class="banker-image-container">
    <img src="img/banker/MainBanker1.png"/>
</div>

<div class="calculator-container">
    <img src="img/Calculator.png"/>
    <div class="calculator-display"></div>
</div>

