<div class="mortgage-market"></div>
<div class="news-ticker"></div>
<div class="banker"></div>
<div class="assets">
    <div class="income-counter">Hello</div>
    <div class="mortgage-inventory"></div>
    <div class="cdo-inventory"></div>
</div>
<div class="investors"></div>
