html {
    height: 100%;
}

body {
    background-image: url('../img/bg.gif');
    background-repeat:no-repeat;
    background-size: 100%;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height: 100%;
}

.main-app {
    width: 100%;
    height: 100%;
}

.mortgage-market {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    float: left;
}

.news-ticker {
    width: 60%;
    height: 10%;
    border: 1px solid green;
    float: left;
}

#mmv-main {
    width: 100%;
    height: 100%;
    position:relative;
}

.banker {
    width: 60%;
    height: 60%;
    border: 1px solid blue;
    float: left;
}

.mortgage-inventory {
    width: 60%;
    height: 30%;
    border: 1px solid red;
    float: left;
}

.house {
    position: absolute;
    width: 10%;
    height: 10%;
    opacity: 0;
    cursor: pointer;
}

.house img{
    width: 100%;
    height: 100%;
}

.banker-image-container{
    width: 60%;
    height: 60%;
    padding: 0 20%;
}

.banker-image-container img{
    width: 100%;
    height: 100%;
}

.calculator-container{
    width: 60%;
    height: 40%;
    padding: 0 20%;
}

.calculator-container img{
    width: 100%;
    height: 100%;
}

.calculator-display{
    position: absolute;
    left: 56%;
    top: 41%;
}
