html {
    height: 100%;
}

body {
    margin:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

.main-app {
    width: 100%;
    height: 100%;
}

.mortgage-market {
    float: left;
    width: 20%;
    height: 100%;
    background-color: gray;
}

.news-ticker {
    padding: 10px 20px 15px;
    background-color: #333;
    color: #FFF;
    float: left;
    top: 0;
    width: 60%;
    height: 15%;
}

.inv-main {
    right: 0;
    height:100%;
    background-color: purple;
}

#mmv-main {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: yellow;
}

.banker {
    float: left;
    width: 40%;
    height: 85%;
    background-color: blue;
}

.mortgage-inventory {
    bottom:0;
    float: left;
    width: 20%;
    height: 85%;
    background-color: red;
}

.mortgage-inventory .mortgage {
    float: left;
}

.house {
    position: absolute;
    width: 40%;
    opacity: 0;
    cursor: pointer;
}

.house img{
    width: 100%;
    height: 100%;
}

.banker-image-container{
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    height: 80%;
}

.banker-image-container img{
    width: 100%;
    height: 100%;
}

.calculator-container{
    width: 100%;
    height: 100%;
}

.calculator-container img{
    width: 100%;
    height: 100%;
}

.calculator-display{
    position:absolute;
    left: 56%;
    top: 70%;
    color: black;
}
