html {
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}



@font-face {
    font-family: 'digital-7_monomono';
    src: url('../digital-7_mono-webfont.eot');
    src: url('../digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../digital-7_mono-webfont.woff') format('woff'),
         url('../digital-7_mono-webfont.ttf') format('truetype'),
         url('../digital-7_mono-webfont.svg#digital-7_monomono') format('svg');
    font-weight: normal;
    font-style: normal;

}

.main-app {
    width: 100%;
    height: 100%;
}

.mortgage-market {
    float: left;
    width: 20%;
    height: 60%;
}

.news-ticker {
    padding: 0px 20px 15px;
    background-color: #666;
    color: #FFF;
    float: left;
    top: 0;
    width: 55%;
    height: 15%;
    overflow: hidden;
}

.news-update > p {
    margin: 0;
}

.news-item {
    opacity: 0;
}

.inv-main {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height:600px;
    overflow: hidden;
}

.investorHolder {
    position: relative;
    left:0px;
    width:150px;
    height:195px;
    margin-bottom: 5px;
    overflow: hidden;
}

.investor {
    position: relative;
    left:300px;
    width:150px;
    height:195px;
    overflow: hidden;
    cursor: pointer;
}

#mmv-main {
    position: absolute;
    width: 20%;
    height: 60%;
}

.banker {
    float: left;
    width: 35%;
    height: 85%;
}

.assets{
    height: 100%;
    float: left;
    width: 20%;
}

.income-counter {
    width: 100%;
    height: 5%;
    background-color: green;
}

.mortgage-inventory {
    bottom:0;
    float: left;
    width: 100%;
    height: 50%;
    background-color: red;
    overflow: scroll;
}

.mortgage-inventory .mortgage {
    float: left;
}

.house {
    position: absolute;
    width: 20%;
    opacity: 0;
    cursor: pointer;
}

.house img{
    width: 100%;
    height: 100%;
}

.banker-image-container{
    padding-left: 30px;
    height: 100%;
}

.banker-image-container img{
    width: 100%;
    height: 100%;
}

.calculator-container{
    position: absolute;
    left: 5px;
    bottom: 0px;
    width: 25%;
}

.calculator-container img{
    width: 100%;
}

.calculator-display{
    position:absolute;
    left: 40px;
    bottom: 100px;
    color: #222;
    width: 250px;
    text-align: right;
    font-size: 50px;
    font-family: digital-7_monomono;
}

.mortgage {
    float: left;
}

#buy-cdo {
    cursor: pointer;
}

.cdo-inventory {
    height:50%;
}
